		body {
			background: #462E31;
			font-family: arial;
			margin: 0;

		}

		.cabeca {
			background-image: url("frf.jpg");
			height: 550px;
			border-top: 1px solid black;

		}

		.text {
			text-align: center;
			color: white;
			margin-top: 150px;

		}

		.text h1 {
			font-size: 36px;
			text-shadow: 3px 3px 2px black;
		}

		.text p {
			font-size: 23px;
			text-shadow: 3px 3px 2px black;
		}

		main {
			width: 80;
			margin-right: auto;
		}

		.sec {
			background-color: #251C1C;
			padding: 15px;
			text-color: ;
			
		}

		.pchan {
			color: white;
			font-family: arial;
			text-transform: uppercase;
			text-shadow: 3px 3px 2px black;
		}

		.ivan {
			align-self: center;
			height: 150px;
		}

		footer {
			text-align: center;
			color: white;
		}

		.rodape {
			padding-top: 30px;
			height: 80px;
			text-shadow: 2px 2px 3px black;
		}

		.cabeca nav ul {
			text-align: center;
			margin: 20px 40px 0 0;
			
		}

		.cabeca nav li {
			display: inline-block;
			list-style: none;
			border: 1px solid white;
		}

		.cabeca nav a {
			background: #1A1716;
			display: block;
			padding: 10px;
			color: white;
			text-decoration: none;
			letter-spacing: 2px;
		}

		.cabeca nav a:hover {
			background: #7B1C1E
		}

		.sec2 {
			padding-top: 30px;
		}
		
		.sec {
			color: white;
		}
			
			.sec article {
				align: middle;
				display: inline-block;
				padding-left: 20px;
			}
				
				.image  {
					padding-left: 80px;
					border: 2px solid white;
				}
				
				
				
					
					